<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>COLIBRI</title>
    <!-- Font Awesome 
        <link rel="stylesheet" href="css/font-awesome.min.css">
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <!--barra de navegacion del pagina principal-->
  <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark gris scrolling-navbar">
            <div class="container">
                <img src="../img/logo.png" style="height:50px" class="">
                <a class="navbar-brand letralogo" href="#" ><strong>COLIBRI</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    </ul>

                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="fa mr-1 fa-twitter"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="fa mr-1 fa-facebook"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="login" class="nav-link btn-outline-light">
                                Iniciar Sección <span class="fa mr-1 fa-user"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            <!--
                <div class="col-8 col-sm-8 col-md-8 col-lg-6 col-xs-8 col-xl-8" style="background-color:blue">
                    hola
                </div>
            -->
      <!--Carrusel de navegacion de la pagina principal-->
    <div id="carusel" class="carousel slide" data-ride="carousel">
        <ol class=" carousel-indicators">
            <li data-target="#carusel" data-slide-to="0" class="active"></li>
            <li data-target="#carusel" data-slide-to="1" ></li>
            <li data-target="#carusel" data-slide-to="2" ></li>
        </ol>
        <div class="carousel-inner" role="lisbox">
            <div class="carousel-item active view overlay zoom" style="">
                <img class="d-block w-100" src="img/orig.jpg" alt="primera imagen">
                <div class="mask waves-effect waves-light rgba-white-slight">
                    <div class="carousel-caption">
                        <h1 class="letralogo letra">Crea tu propio proyecto</h1>
                        <a class="btn btn-dark btn-lg btn-light" href="login">Registrate</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item view overlay zoom" style="">
                <img class="d-block w-100" src="img/img2.jpg" alt="Segunda imagen">
                <div class="mask waves-effect waves-light rgba-white-slight">
                    <div class="carousel-caption">
                        <h1 class="letralogo letra">Gestiona tus propios archivos</h1>
                        <a class="btn btn-dark btn-lg btn-light" href="login">Registrate</a>
                    </div>
                </div>    
            </div>
            <div class="carousel-item view overlay zoom" style="">
                <img class="d-block w-100" src="img/fondo-azul.jpg" alt="Tercera imagen">
                <div class="mask waves-effect waves-light rgba-white-slight">
                    <div class="carousel-caption">
                        <h1 class="letralogo letra">Construye tu propia Web</h1>
                        <a class="btn btn-dark btn-lg btn-light" href="login">Registrate</a>
                    </div>
                </div>    
            </div>
            <a class="carousel-control-prev" href="#carusel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carusel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid fondo">    
        <div class="py-5 text-white" id="">
            <div class="container py-lg-5 py-md-3">
                <h3 class="fadeInDown wow" style="font-size: 35px;"><Strong style="font-size: 35px;">A serca de </Strong>Nosotros</h3>
                <div class="row">
                    <div class="col-lg-5">
                        <p class="text-justify text-white wow fadeInDown" style="font-size:20px"> Nosotros te podemos ayudar de forma gratuita para que podas crear tus propias paginas web,
                            proyectos, o si solo quieres aprender a ser un desarrollador de paginas web nosostros somos
                            la mejor opcion ya que podras almacenar todo compartirlo con tus amigo o solo descargarlo para ti
                            nosotros somos COLIBRI.
                        </p>
                    </div>
                    <div class="col-lg-7 text-center text-white mt-5">
                        <div class="row"> 
                            <div class="col-sm-4 col-4">
                                <span class="fa fa-cloud"></span>
                                <h4 class="mt-3 wow fadeInUp">Almacenar <br>Mejor</h4>
                            </div>
                            <div class="col-sm-4 col-4 border-left border-right border-white">
                                <span class="fa fa-desktop"></span>
                                <h4 class="mt-3 wow fadeInUp">Mejor<br>Creatividad</h4>
                            </div>
                            <div class="col-sm-4 col-4">
                                <span class="fa fa-cogs"></span>
                                <h4 class="mt-3 wow fadeInUp">Mejor <br>Gestion</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-5 pb-5 py-5 px-5 mb-5 mt-5">
        <div class="container py-md-3">
            <div class="row"> 
                <div class="col-lg-6 left-img">
                    <img src="img/programando.jpg" class="img-fluid wow fadeInLeft" alt="Diferentes diseñadores" />
                </div> 
                <div class="col-lg-6 mt-lg-0 mt-4">
                    <h3 class="heading mb-5 wow fadeInRight"><strong>Innovacion</strong> <span>Al alcance de tus manos</span> </h3>
                    <div class="row inner-heading">
                        <div class="col-md-1">
                            <span class="fa fa-anchor"></span>
                        </div>
                        <div class="col-md-11">
                            <h4 class="mt-md-0 mt-2 wow fadeInRight">Quienes somos</h4>
                            <p class="mt-3 text-justify wow fadeInRight">Somos un grupo de diseñadores especializados en el desarrollo web con mas de 30 años de experiencia con
                                manejo de diferentes tipos de Frameworks para complaceserte en tus necesidades.</p>
                            <!--<a href="#" class="btn">Read More</a>-->
                        </div>
                        <div class="col-md-1 mt-5">
                            <span class="fa fa-assistive-listening-systems"></span>
                        </div>
                        <div class="col-md-11 mt-md-5">
                            <h4 class="mt-md-0 mt-2 wow fadeInRight">Que somos</h4>
                            <p class="mt-3 text-justify wow fadeInRight">Somos una empresa que te ayuda a manejar, diseñar y almacenar tus propios de una forma gratuita y especialiada
                                proyectos para tu mayor comodidad estes donde estes siempre estaremos para ti.</p>
                            <!--<a href="#" class="btn">Read More</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <section class="container-fluid fondo mt-5 pt-5 pb-5 pt-5 pb-5 py-5 mb-3 mt-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 text-left pr-lg-5 text-white">
                    <h3 class="tittle two mb-lg-5 mb-4 wow fadeInLeft">Planes mas economicos<span>.</span></h3>
                    <p><strong class="text-capitalize wow fadeInLeft"> Usa el plan que mas desees o el que mas te combenga, hay planes desde 2$ a 10$  o si tu quieres puedes tener una cuenta gratis.</strong>Elige tu plan dale click y suscribete. </p>
                </div>
                <div class="col-md-6 stats-left">
                    <div class="row">
                        <div class="col-md-6 counter-gd">
                            <div class="counter text-white">
                                <h3 class="timer count-title count-number wow fadeInRight">Barato</h3>
                                <p class="count-text wow fadeInRight">ideas frescas</p>
                            </div>
                        </div>
                        <div class="col-md-6 counter-gd">
                            <div class="counter text-white">
                                <h3 class="timer count-title count-number wow fadeInRight">Los planes soportan</h3>
                                <p class="count-text wow fadeInRight">projectos completos</p>
                            </div>
                        </div>
                        <div class="col-md-6 counter-gd">
                            <div class="counter text-white">
                                <h3 class="timer count-title count-number wow fadeInRight">Termina fuera</h3>
                                <p class="count-text wow fadeInRight">de tus horas de trabajo</p>
                            </div>
                        </div>
                        <div class="col-md-6 counter-gd">
                            <div class="counter text-white">
                                <h3 class="timer count-title count-number wow fadeInRight">Alegra a tus</h3>
                                <p class="count-text wow fadeInRight">clientes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ab-info mt-lg-5 wow fadeInUp">
                <div class="col-lg-3 price-main text-center">
                    <div class="pricing-grid card">
                        <div class="card-body gris">
                            <h4 class="text-uppercase mb-3">GRATIS</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>0
                                <label></label>
                            </h5>
                            <ul class="price-in list-unstyled mt-3 mb-4">
                                <li>3 Proyectos</li>
                                <li>50 MB C/P</li>
                                <li>Todos los Archivos</li>

                            </ul>
                            <div class="price-button mt-md-3 mt-2">
                                <a class="btn text-uppercase scroll" href="login">
                                Adquierelo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 price-main text-center">
                    <div class="pricing-grid card">
                        <div class="card-body gris">
                            <h4 class="text-uppercase mb-3">ORO</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>1
                                <label>Por Mes</label>
                            </h5>
                            <ul class="price-in list-unstyled mt-3 mb-4">
                                <li>10 Proyectos</li>
                                <li>100 MB C/P</li>
                                <li>Todos los Archivos</li>

                            </ul>
                            <div class="price-button mt-md-3 mt-2">
                                <a class="btn text-uppercase scroll" href="login">
                                Adquierelo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 price-main text-center">
                    <div class="pricing-grid card">
                        <div class="card-body gris">
                            <h4 class="text-uppercase mb-3">PLATINO</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>5
                                <label>Por Mes</label>

                            </h5>
                            <ul class="price-in list-unstyled mt-3 mb-4">
                                <li>50 Proyectos</li>
                                <li>500 MB C/P</li>
                                <li>Todos los Archivos</li>

                            </ul>
                            <div class="price-button mt-md-3 mt-2">
                                <a class="btn text-uppercase scroll" href="login">
                                            Adquierelo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 price-main text-center">
                    <div class="pricing-grid card">
                        <div class="card-body gris">
                            <h4 class="text-uppercase mb-3">DIAMANTE</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>10
                                <label>Por Mes</label>
                            </h5>
                            <ul class="price-in list-unstyled mt-3 mb-4">
                                <li>Proyectos sin limite</li>
                                <li>1 TB C/P</li>
                                <li>Todos los Archivos</li>
                            </ul>
                            <div class="price-button mt-md-3 mt-2">
                                <a class="btn text-uppercase scroll" href="login">
                                 Adquierelo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <img id="desarrolladores" class="mt-5 img-fluid pl-0 pr-0 col-md-3 col-sm-6 col-6 col-xl-12 imagen" src="img/personas-programando.jpg" alt="desarrolladores">
    <div class="py-5 my-5" id="cont">
        <div class="container-fluid text-white" style="font-size: 5vh;">	
            <div class="row py-5 my-5">
                <div class="col-md-3 col-sm-6 col-6 text-center">
                    <span class="fa mr-1 fa-desktop"></span>
                    <h4 class="mt-3 wow zoomIn">+ de 1,000</h4>
                    <p class="wow zoomIn">Projectos</p>
                </div>	
                <div class="col-md-3 col-sm-6 col-6 text-center">
                    <span class="fa mr-1 fa-calendar"></span>
                    <h4 class="mt-3 wow zoomIn">29</h4>
                    <p class="wow zoomIn">Dias Trabajando</p>
                </div>	
                <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-5 text-center">
                    <span class="fa mr-1 fa-users"></span>
                    <h4 class="mt-3 wow zoomIn">+ de 500</h4>
                    <p class="wow zoomIn">Clientes</p>
                </div>	
                <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-5 text-center">
                    <span class="fa mr-1 fa-anchor"></span>
                    <h4 class="mt-3 wow zoomIn">+ de 250</h4>
                    <p class="wow zoomIn">Diseños</p>
                </div>		
            </div>		
        </div>		
    </div>
    
    <section class="pb-5 wow fadeInRight" id="equipo">
            <div class="container">
                <div class="speak">
                    <h2 class="text-center"><strong>Descarga nuestro Increible</strong> <span>CMS</span> </h2>
                    <div class="row mt-lg-5 mt-4">
                        <div class="col-md-4 my-md-0 my-3 ml-auto mr-auto">
                            <div class="card rgba-mdb-color-light mb-3 text-center z-depth-5">
                                <div class="card-header">
                                    <img src="../img/logo.png" class="img-fluid" alt="logo-image" style="height: 30vh;">
                                </div>
                                <div class="card-body">
                                    <h3 class="mt-md-4 card-title"><span class=""></span><strong>COLIBRI</strong> </h3>
                                    <!--Facebook-->
                                    <a type="button" href="https://github.com/AnuarDante/ProyectoISExpertos" target="_blank" class="btn-floating btn-lg"><i class="fa fa-github" aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   

        <section class="pb-5 wow fadeInLeft" id="equipo">
            <div class="container">
                <div class="speak">
                    <h2 class="text-center"><strong>El Increible</strong> <span>Creador</span> </h2>
                    <div class="row mt-lg-5 mt-4">
                        <div class="col-md-4 my-md-0 my-3 ml-auto mr-auto">
                            <div class="card bg-light mb-3 text-center z-depth-5">
                                <div class="card-header">
                                    <img src="img/yo.jpg" class="img-fluid rounded-circle" alt="user-image" style="height: 30vh;">
                                </div>
                                <div class="card-body">
                                    <h3 class="mt-md-4 card-title"><span class="">Desarrollador <br></span><strong>Pablo Velasquez</strong> </h3>
                                    <p class="card-text">Un casi Ingeniero en sistemas actualmente cursando la clase Sisremas Expertos.</p>
                                    <!--Facebook-->
                                    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook-f"></i></a>
                                    <!--Twitter-->
                                    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                                    <!--Google +-->
                                    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>      
</main>
<footer class="fondo mt-5 py-5">
    <div class="container">
        <div class="row pt-lg-3 text-white">
            <div class="col-lg-3 col-6 footer_left">
                <h3 class="mb-sm-4 mb-3">Company</h3>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#stats">Que somos</a></li>
                    <li><a href="#">Privacidad</a></li>
                    <li><a href="#">Terminos y Condiciones</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6">
                <h3 class="mb-sm-4 mb-3"> Social</h3>
                <ul>
                    <li><a href="#"><span class="fa mr-1 fa-facebook"></span>- facebook</a></li>
                    <li><a href="#"><span class="fa mr-1 fa-twitter"></span>- twitter</a></li>
                    <li><a href="#"><span class="fa mr-1 fa-google-plus"></span>- google-plus</a></li>
                    <li><a href="#"><span class="fa mr-1 fa-linkedin"></span>- linkedin</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5">
                <h3 class="mb-sm-4 mb-3">Address</h3>
                <p> <span class="fa mr-1 fa-phone"></span> +(504) 9581-1819</p>
                <p> <span class="fa mr-1 fa-envelope"></span> <a href="#">anuar_velasquez1993@yahoo.es</a> </p>
                <p> <span class="fa mr-1 fa-map-marker"></span>UNAH Tegucigalpa Honduras </p>
            </div>
            <div class="col-lg-4 col-sm-6 mt-lg-0 mt-5">
                <h3 class="mb-sm-4 mb-3">News Updates</h3>
                    <ul>
                    <li><a href="#"><span class="fa mr-1 fa-folder-open-o"></span> Todo por GITHUB</a></li>
                    <li><a href="#"><span class="fa mr-1 fa-folder-open-o"></span> Mejoras en paginas web.</a></li>
                    <li><a href="#"><span class="fa mr-1 fa-folder-open-o"></span> Publicaciones en Redes Sociales.</a></li>
                </ul>
            </div>
        </div>
        <!-- //move top -->
        <div class="copyright text-center mt-3 text-white">
            <p>© 2019 Informal. All Rights Reserved | Design by <a href="#">COLIBRI</a> </p>
        </div>
    </div>       
</footer>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.js"></script>
  <!-- Font Awesome JavaScript
    <script type="text/javascript" src="js/all.min.js"></script>
  -->
  <script>new WOW().init();</script>
</body>

</html>
